@model List<Producto>



<a class="btn btn-success" asp-action="Create">Nuevo Producto</a>

<hr style="visibility:hidden" />


<table class="table" id="Productos">
    <thead>
        <tr>
            <th>Cosigo</th>

            <th>Nombre</th>

            <th>Cantidad</th>

            <th>Acciones</th>

        </tr>

    </thead>
    <tbody>
        @foreach (var producto in Model)
        {
            <tr>
                <td>@Html.DisplayFor(p=>producto.ProductoId) </td>

                <td>@Html.DisplayFor(p=>producto.ProductoDesc) </td>

                <td>@Html.DisplayFor(p=>producto.ProductoCan) </td>

                <td>
                    <a onclick="showInPopup('@Url.Action("Edit", "Products", new { id = item.Id }, Context.Request.Scheme)' , 'Actualizar Producto')" class="btn btn-sm btn-warning"><i class="fa fa-pencil-alt"></i> </a>

                    <a asp-action="Delete" asp-route-id="@producto.ProductoId" class="btn btn-danger deleteItem">Eliminar</a>
                    <a asp-action="Edit" class="btn btn-info" asp-route-proid="@producto.ProductoId">Editar</a>
                </td>
            </tr>

        }
    </tbody>
</table>