@model List<Almacenes>

<a class="btn btn-success" asp-action="Create">Nuevo Almacen</a>

<hr style="visibility:hidden" />
<a onclick="showInPopup('@Url.Action("Create", "Almacenes", new { }, Context.Request.Scheme)' , 'Nuevo Almacen')" class="btn btn-sm btn-primary text-white"><i class="fa fa-plus-circle"></i> Almacenes</a>

<table class="table" id="AlmacenesTabla">
    <thead>
        <tr>
            <th>Almacen ID</th>

            <th>Descripcion</th>

            <th>Referencia</th>

            <th>Acciones</th>

        </tr>

    </thead>
    <tbody>
        @foreach (var almacenes in Model)
        {
            <tr>
                <td>@Html.DisplayFor(a=>almacenes.IDAlmacen) </td>

                <td>@Html.DisplayFor(a=>almacenes.DescripcionAlmacen) </td>

                <td>@Html.DisplayFor(a=>almacenes.ReferenciaAmacen) </td>

                <td>

                    @*<a asp-action="Delete" asp-route-id="@producto.ProductoId" class="btn btn-danger deleteItem">Eliminar</a>*@
                    <a asp-action="Edit" class="btn btn-outline-warning" asp-route-proid="@almacenes.IDAlmacen"><i style="font-size: 1rem" class="bi bi-pencil-square"></i></a>
                    <button data-id="@almacenes.IDAlmacen" class="btn btn-outline-danger deleteItem" data-bs-toggle="modal" data-bs-target="#deleteDialog"><i style="font-size: 1rem" class="bi bi-trash"></i></button>
                </td>
            </tr>

        }
    </tbody>
</table>