@model List<Almacenes>

<a  onclick="showInPopup('@Url.Action("Crear", "Almacenes", new { }, Context.Request.Scheme)' , 'Nuevo Almacen')" class="btn btn-success" >Nuevo Almacen</a>

<hr style="visibility:hidden" />

<table class="table" id="AlmacenesTabla">
    <thead>
        <tr>
            <th>Almacen ID</th>

            <th>Descripcion</th>

            <th>Referencia</th>

            <th>Acciones</th>

        </tr>

    </thead>
    <tbody>
        @foreach (var almacenes in Model)
        {
            <tr>
                <td>@Html.DisplayFor(a=>almacenes.IDAlmacen) </td>

                <td>@Html.DisplayFor(a=>almacenes.DescripcionAlmacen) </td>

                <td>@Html.DisplayFor(a=>almacenes.ReferenciaAlmacen) </td>

                <td>

                    <a onclick="showInPopup('@Url.Action("Editar", "Almacenes", new { IDAlmacen = almacenes.IDAlmacen}, Context.Request.Scheme)' , 'Actualizar Almacen')" class="btn btn-outline-warning"><i style="font-size: 1rem" class="bi bi-pencil-square"></i></a>
                    <button data-id="@almacenes.IDAlmacen" class="btn btn-outline-danger deleteItem" data-bs-toggle="modal" data-bs-target="#deleteDialog"><i style="font-size: 1rem" class="bi bi-trash"></i></button>
                </td>
            </tr>

        }
    </tbody>
</table>