@model WebInventarios.Models.ViewModels.HomeProductosViewModel
@{
    ViewData["Title"] = "Home Page";
}



@foreach (var item in Model.Productos)
{
    <div class="col">
        <div class="card h-100">
            <div class="text-center zoom">
               @* <img src="@item.ImageFullPath" style="height:150px; max-width:200px;" class="text-center" alt=@item.Pro />*@
            </div>
            <div class="card-body">
                <h5 class="card-title text-navy"> @item.ProductoDesc</h5>
                <p class="card-text smfnt">@item.ProductoDesc</p>
                <h5 class="text-muted">@Html.DisplayFor(modelItem => item.ProductoCan)</h5>
            </div>
            <div class="card-footer text-center">
                <a asp-action="Details" asp-route-id="@item.ProductoId" class="btn btn-sm btn-secondary">Details</a>
                <a asp-action="Add" asp-route-id="@item.ProductoId" class="btn btn-sm btn-primary">Add to Cart</a>
            </div>
        </div>
    </div>
}




<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
